.navbar {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: rgb(129, 123, 163);
  position: fixed;
  width: 100%;
  left: 0%;
  right: 0%;
  top: 0%;
  color: rgb(222, 255, 255);
  z-index: 100;
}
.navs {
  display: block;
  color: rgb(222, 255, 255);
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgb(41, 38, 50), 1px -1px 0 rgb(41, 38, 50),
    -1px 1px 0 rgb(41, 38, 50), 1px 1px 0 rgb(41, 38, 50);
}
.navsB {
  display: block;
  color: blue;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}
.navsG {
  display: block;
  color: gold;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}
.navli {
  float: right;
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  font-weight: bold;
}
.logo {
  width: auto;
  height: auto;
  max-width: 65px;
  max-height: 65px;
}
.mainHeader {
  font-size: 120px;
  text-align: center;
  margin: auto;
  font-family: "Courier New", Courier, monospace;
  color: rgb(222, 255, 255);
  text-shadow: -4.5px -4.5px 0 rgb(41, 38, 50), 1px -1px 0 rgb(41, 38, 50),
    -1px 1px 0 rgb(41, 38, 50), 1px 1px 0 rgb(41, 38, 50);
  padding-top: 18pt;
}
.sectionHead {
  text-align: center;
  margin: auto;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  text-shadow: -1px -1px 0 rgb(129, 123, 163), 1px -1px 0 rgb(129, 123, 163),
    -1px 1px 0 rgb(129, 123, 163), 1px 1px 0 rgb(129, 123, 163);
}
.primary {
  background-color: white;
  color: rgb(41, 38, 50);
}
.mparagraph {
  text-align: center;
  font-family: monospace;
  font-size: 15px;
  padding: 0em 4em 2em 4em;
}
.icons {
  max-height: 5em;
  max-width: 5em;
  height: 5em;
  width: 5em;
  min-width: 3em;
  min-height: 3em;
}
.skills {
  display: flex;
  justify-content: space-evenly;
  font-family: monospace;
  text-align: center;
  flex-flow: row wrap;
}
.contact {
  display: flex;
  font-family: monospace;
  justify-content: center;
  text-align: center;
}
.subheader {
  padding-bottom: 2em;
  font-size: 35px;
  text-align: center;
  margin: auto;
  font-family: "Courier New", Courier, monospace;
  color: rgb(222, 255, 255);
  text-shadow: -2.5px -2.5px 0 rgb(41, 38, 50), 1px -1px 0 rgb(41, 38, 50),
    -1px 1px 0 rgb(41, 38, 50), 1px 1px 0 rgb(41, 38, 50);
}
.blue {
  color: blue;
}
.gold {
  color: gold;
}
.conlinks {
  max-height: 5em;
  max-width: 8em;
  height: 5em;
  width: auto;
  min-width: 3em;
  min-height: 3em;
}
.projectPics {
  height: auto;
  width: auto;
  max-height: 20em;
  max-width: 20em;
  border: black;
  border-radius: 5pt;
}
.projects {
  display: flex;
  justify-content: space-evenly;
  font-family: monospace;
  text-align: center;
  flex-flow: row wrap;
  font-size: 11pt;
}
.projectsTable {
  background-color: rgb(255, 183, 0);
  background-color: rgb(222, 255, 255);
  border-style: groove;
  border-radius: 1em;
  width: 21em;
  height: 28em;
}
.projectLink {
  font-size: 30px;
}
.cssLogo {
  height: 7.5em;
  width: auto;
  padding-bottom: 10pt;
}
.topColorChange {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(129, 123, 163);
  width: auto;
  height: 100%;
  max-height: 100%;
  margin-left: -6pt;
  margin-right: -6pt;
}
.portrait {
  border-radius: 100em;
  max-width: 210pt;
  width: auto;
  height: auto;
  text-align: center;
  margin: auto;
}
@media screen and (max-width: 1024px) {
  .mparagraph {
    font-size: 20pt;
  }
}
@media (max-width: 1024px) {
  .mparagraph {
    text-align: justify;
  }
}
